<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Manage tender</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gov Tender System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav"> 
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="company">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#applyModal">Apply</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#viewModal">View tender</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#progressModal">Progress</a>
            </li>
            
           
            
          
          </ul>
        </div>
      </nav>

      <!--view tender-->
  <!-- Button trigger modal -->

</button>

<!-- applyModal -->
<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applyModalLabel">View tender</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method='post' action='application'>
          {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">Enter id of Tender </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name ="tid" placeholder="Enter id of Tender">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Enter company name </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name ="c_name" placeholder="Enter id of Tender">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">apply</button>
      </form>
      </div>
    </div>
  </div>
</div>
   





<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">View tender</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method='post' action='/viewtender'>
          {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">Enter id of Tender </label>
          <input type="text" class="form-control" id="exampleInputPassword1" name ="tid" placeholder="Enter id of Tender">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">show</button>
      </form>
      </div>
    </div>
  </div>
</div>
   

    
  <!-- Progress Modal -->
  <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="progressModalLabel">Progress</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method='post' action='create_progress'>
                {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputPassword1">Enter tender id </label>
                <input type="text" class="form-control" id="exampleInputPassword1" name ="tid" placeholder="Enter id of Tender">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Enter progress </label>
                
                <textarea rows="4" cols="50" class="form-control" id="exampleInputPassword1" name ="desc" placeholder="Enter Progress"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        
      </div>
    </div>
  </div>
  <!--modal end-->


  <style>
    
    
    {% comment %} body {
      background-color: #f5f5f5;
    } {% endcomment %}

    .table-container {
      display: flex;
      justify-content: center;
    }

    table {
      width: 80%;
      background-color: #e7f3fe;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #4e7fc4;
      color: white;
    }

    button {
      padding: 6px 10px;
      border: none;
      background-color: #4e7fc4;
      color: white;
      cursor: pointer;
    }

    button:hover {
      background-color: #346093;
    }

  </style>
  <div class="table-container">
    <table>
      <tr>
        <th>Tender Id</th>
        <th>Sector Name</th>
        <th>Duration</th>
      
        
      </tr>
      {%for record in alltenders %}
      <tr>
        <td>{{record.t_id}}</td>
        <td>{{record.sector_name}}</td>
        <td>{{record.Time_dur}}</td>
      
      </tr>
      
      {% endfor %}

   
      <!-- Add more rows as needed -->
    </table>
  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>